@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  color: #495567;
}

.font-h1 {
  font-size: 3.5rem;
}

.font-h2 {
  font-size: 3rem;
}

.font-h3 {
  font-size: 2.5rem;
}

.font-h4 {
  font-size: 1.5rem;
}

.lh-0 {
  line-height: 3.625rem;
}

.lh-1 {
  line-height: 3rem;
}

.lh-2 {
  line-height: 2.5rem;
}

.lh-3 {
  line-height: 1.75rem;
}

.lh-4 {
  line-height: 1.5625rem;
}

.button {
  background-color: #fcb72b;
  color: #ffffff;
  line-height: 1.5625rem;
  padding: 0.875rem 3rem;
}
.button:hover {
  background-color: #ffffff;
  color: #fcb72b;
  border: 2px solid #fcb72b;
}

body.noscroll {
  overflow: hidden;
}

@media (max-width: 47.9375) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 48em) {
  .hide-for-desktop {
    display: none;
  }
}

.container {
  padding: 0 2rem;
}
@media (min-width: 90em) {
  .container {
    padding: 0 12.25rem;
  }
}

.flex {
  display: flex;
}

a {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  font-weight: bold;
}

.showcase {
  background: url(../assets/images/home-hero-mobile.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 4rem);
  text-align: center;
}
@media (min-width: 48em) {
  .showcase {
    background: url(../assets/images/home-hero-tablet.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (min-width: 90em) {
  .showcase {
    background-image: url(../assets/images/home-hero-desktop.jpg);
  }
}
.showcase__hero {
  color: #ffffff;
  padding-top: 7.1875rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.showcase__hero > *:not(:last-child) {
  margin-bottom: 32px;
}
.showcase__title {
  font-weight: 700;
  font-family: "Space Mono", monospace;
  letter-spacing: 0.111875rem;
}
.showcase__btn {
  display: inline-block;
  margin-top: 0.625rem;
}

.header {
  position: relative;
}
@media (min-width: 48em) {
  .header {
    height: 6rem;
  }
}
.header__wrap {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  background-color: #ffffff;
  align-items: center;
  height: 4rem;
  width: 100%;
  z-index: 100;
}
@media (min-width: 48em) {
  .header__wrap {
    height: 6rem;
    justify-content: space-between;
  }
}
.header__toggle {
  cursor: pointer;
}
.header__toggle > span {
  display: block;
  width: 1.25rem;
  height: 0.1875rem;
  background-color: #fcb72b;
  transform-origin: 1.5px 1.5px;
  transition: all 200ms ease-in-out;
}
.header__toggle > span:not(:last-child) {
  margin-bottom: 3px;
}
.header__toggle.open > span:first-child {
  transform: rotate(45deg);
}
.header__toggle.open > span:nth-child(2) {
  opacity: 0;
}
.header__toggle.open > span:last-child {
  transform: rotate(-45deg);
}
@media (min-width: 48em) {
  .header__toggle {
    display: none;
  }
}
.header__logo {
  margin: 0 auto;
}
@media (min-width: 48em) {
  .header__logo {
    margin: 0;
  }
}
.header__nav {
  display: none;
  height: 100%;
}
.header__nav--btn {
  display: none;
}
@media (min-width: 48em) {
  .header__nav--btn {
    display: block;
  }
}
@media (min-width: 48em) {
  .header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0;
  }
}
@media (min-width: 90em) {
  .header__nav {
    margin-right: auto;
    padding-left: 3.6875rem;
  }
}
@media (min-width: 48em) {
  .header__links:not(:last-child) {
    margin-right: 2rem;
  }
}
.header__mobile {
  position: fixed;
  background-color: #333a44;
  width: 100%;
  height: 100%;
  left: 0;
  top: 4rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transform: translateX(-100%);
  overflow-x: hidden;
  transition: all 200ms ease-in-out;
}
.header__mobile.open {
  transform: translate(0);
  transition: all 200ms ease-in-out;
}
.header__menu {
  flex-direction: column;
  padding-top: 4rem;
  font-family: "Space Mono", monospace;
  text-align: center;
}
.header__menu > li:not(:last-child) {
  margin-bottom: 1.5rem;
}
.header__menu > li a {
  color: #ffffff;
  font-size: 1.5rem;
}
.header__link {
  line-height: 25px;
  font-size: 1.25rem;
  font-family: "Space Mono", monospace;
  color: #939caa;
  z-index: 10;
}
@media (min-width: 48em) {
  .header__link {
    font-size: 0.9375rem;
  }
}
.header__btn {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: calc(4rem + 1.5rem);
}
@media (min-width: 48em) {
  .header__btn {
    display: block;
    margin-right: inherit;
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=main.css.map */
