@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as *;

.bg1 {
  background-image: url(../assets/images/about-hero-mobile.jpg);
  @include m.breakpoints-up(medium) {
    background-image: url(../assets/images/about-hero-tablet.jpg);
  }
  @include m.breakpoints-up(xlarge) {
    background-image: url(../assets/images/about-hero-desktop.jpg);
  }
}
