@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as m;

.header {
  position: relative;
  //64px
  @include m.breakpoints-up(medium) {
    height: 6rem; //96px
  }
  &__wrap {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background-color: $white;
    align-items: center;
    height: 4rem;
    width: 100%;
    z-index: 100;
    @include m.breakpoints-up(medium) {
      height: 6rem;
      justify-content: space-between;
    }
  }
  &__toggle {
    cursor: pointer;
    > span {
      // burguer lines
      display: block;
      width: 1.25rem; // 20px
      height: 0.1875rem; // 3px
      background-color: $yellow;
      transform-origin: 1.5px 1.5px;
      transition: all 200ms ease-in-out;
      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }
    &.open {
      > span:first-child {
        transform: rotate(45deg);
      }
      > span:nth-child(2) {
        opacity: 0;
      }
      > span:last-child {
        transform: rotate(-45deg);
      }
    }
    @include m.breakpoints-up(medium) {
      display: none;
    }
  }
  &__logo {
    margin: 0 auto;
    @include m.breakpoints-up(medium) {
      margin: 0;
    }
  }
  &__nav {
    display: none;
    height: 100%;
    // @include m.breakpoints-down(medium) {
    //   display: none;
    // }
    &--btn {
      display: none;
      @include m.breakpoints-up(medium) {
        display: block;
      }
    }
    @include m.breakpoints-up(medium) {
      display: flex;
      flex-direction: row;
      align-items: center;
      // justify-content: center;
      padding-top: 0;
    }
    @include m.breakpoints-up(xlarge) {
      margin-right: auto;
      padding-left: 3.6875rem; // 59px
    }
  }
  &__links {
    @include m.breakpoints-up(medium) {
      &:not(:last-child) {
        margin-right: 2rem; //32px
      }
    }
  }
  &__mobile {
    z-index: 100;
    position: fixed;
    background-color: $gray;
    width: 100%;
    height: 100%;
    left: 0;
    top: 4rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transform: translateX(-100%);
    overflow-x: hidden;
    transition: all 200ms ease-in-out;
    &.open {
      transform: translate(0);
      transition: all 200ms ease-in-out;
    }
  }
  &__menu {
    flex-direction: column;
    padding-top: 4rem;
    font-family: "Space Mono", monospace;
    text-align: center;
    > li {
      &:not(:last-child) {
        // margin between links
        margin-bottom: 1.5rem;
      }
      a {
        color: $white;
        font-size: 1.5rem; //24px
      }
    }
  }
  &__link {
    line-height: 25px;
    font-size: 1.25rem;
    font-weight: 700;
    font-family: "Space Mono", monospace;
    color: $dimgray;
    z-index: 10;
    &:hover {
      color: $yellow;
    }
    @include m.breakpoints-up(medium) {
      font-size: 1.2rem; //15px
    }
  }
  &__btn {
    // margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: calc(4rem + 1.5rem);
    @include m.breakpoints-up(medium) {
      display: block;
      margin-right: inherit;
      margin-bottom: 0;
    }
    @include m.breakpoints-up(xlarge) {
    }
  }
}
