@use "../abstracts/colors" as *;

.button {
  background-color: $yellow;
  color: $white;
  line-height: 1.5625rem; // 25px
  padding: 0.875rem 3rem; // 14px, 48px
  border: 2px solid $yellow;
  &:hover {
    background-color: $white;
    color: $yellow;
    border: 2px solid $yellow;
  }
}
