// Colours

$yellow: #fcb72b; //  hsl(40°, 97%, 58%)
$darknavy: #495567; //  hsl(216°, 17%, 35%)
$dimgray: #939caa; //  hsl(217°, 12%, 62%)
$gray: #333a44; // hsl(0°, 0°, 0.59%)
$lightgray: #e5ecf4; // hsl(212°, 41%, 93%)
$snow: #f2f5f9; // hsl(214°, 37%, 96%)
$lightyellow: #fff4df; // hsl(39°, 100%, 94%)
$white: #ffffff;
