@use "../abstracts/mixins" as m;

body {
  overflow-x: hidden;
  &.noscroll {
    overflow: hidden;
  }
}

.hide-for-mobile {
  @include m.breakpoints-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include m.breakpoints-up(medium) {
    display: none;
  }
}

.container {
  padding: 0 2rem; //32px
  @include m.breakpoints-up(medium) {
    padding: 0 2.5rem; // 40px
  }
  @include m.breakpoints-up(xlarge) {
    padding: 0 10.5625rem; //169px
  }
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

a {
  font-size: 0.9375rem; // 15px
  line-height: 1.5625rem; //25px
  font-weight: bold;
}
